$navbar-item-color: white;
@import "bulma/bulma.sass";
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";

.app-container {
  margin-top: 12px;
  padding: 20px;

  .app-content {
    height: calc(100vh - 92px - 1.5rem - 52px - 24px);
  }
}

.builder-page {
  width: 100%;
  height: 100%;
}

.preview {
  .row {
    border: 1px solid $primary;
    padding: 10px;
    margin-bottom: 30px;
  }

  .column {
    border: 1px solid $warning;
    padding: 10px;
  }

  .component {
    border: 1px solid $danger;
    padding: 10px;
  }
}
